<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-cockpit
        (bpCreated)="onBlueprintCreated($event)"
        (serverCreated)="onServerCreated($event)"
      ></app-cockpit>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        [serverElements]="serverElements"
        *ngFor="let element of serverElements"
      >
        <p>
          <strong *ngIf="element.type === 'server'" style="color: red">{{
            element.serverContent
          }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{
            element.serverContent
          }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
