<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-cockpit
        (bpCreated)="onBlueprintCreated($event)"
        (serverCreated)="onServerCreated($event)"
      ></app-cockpit>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        [serverElements]="serverElements"
        *ngFor="let element of serverElements"
      >
        <p>
          <strong *ngIf="element.type === 'server'" style="color: red">{{
            element.serverContent
          }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{
            element.serverContent
          }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (newNumber)="onNewNumberEmitted($event)"></app-game-control>
    </div>
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <h2>Let's see what is going to hop on!!</h2>
        </div>
        <div class="card-body">
          <div class="container" *ngIf="gameControlNumbers.length">
            <div class="row" *ngFor="let number of gameControlNumbers; let i = index">
              <app-even *ngIf="number % 2 === 0" [value]="number"></app-even>
              <app-odd *ngIf="number % 2 !== 0" [value]="number"></app-odd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
